.footer-bottom ul > li + li::before {
    color: #ccc;
    content: "|";
    padding: 0;
}

.footer a {
    color: #777;
}
.divFooter{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 900px;
}

.footer{
    width: auto;
}

body {
    min-width: 1300px;
    padding-top: 50px;
    background-color: #EEEEEE;
}